body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/shop-background.jpg'); /* Set your shop background image */
    background-size: cover;
    color: #333;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background:   #38767b;
    ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    color: black;

}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 252, 252);
}

#navbar h1 {
    color: rgb(16, 15, 15);
    display: flex;
    align-items: left;
    justify-content: left;
    position: relative;
}
#navbar h2 {
    color: rgb(52, 121, 123);
    display: flex;
    align-items: left;
    justify-content: left;
    position: relative;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #0c0c0c;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(10, 10, 10);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: pink;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
section-p2 {
    background-image: none;
    height: 400px;
    color: blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#products1 {
 background-color: gray;
}
#products1 h1 {
    background-color: rgb(13, 12, 12);
}

#products1 h2 {
    background-color: rgb(4, 4, 4);
}
#products2 {
    background-color: gray;
   }
   #products2 h1 {
       background-color: rgb(13, 12, 12);
   }
   
   #products2 h2 {
       background-color: rgb(4, 4, 4);
   }
   #products3 {
    background-color: gray;
   }
   #products3 h1 {
       background-color: rgb(13, 12, 12);
   }
   
   #products3 h2 {
       background-color: rgb(4, 4, 4);
   }
   #products4 {
    background-color: gray;
   }
   #products4 h1 {
       background-color: rgb(13, 12, 12);
   }
   
   #products4 h2 {
       background-color: rgb(4, 4, 4);
   }



.product {
    background: rgba(96, 139, 132, 0.9);
    border-radius: 5px;
    padding: 15px;
}
